html,
body {
  height: 100%;
  background: #181A1F; }

hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }

ul {
  list-style: none;
  padding-left: 0.7rem; }

.container-fluid {
  background: #FFFFFF; }

.rounded-corner {
  border-radius: 0.5em;
  overflow: hidden; }

.display-4 {
  font-size: 1.2rem; }

.display-3 {
  font-size: 1.7rem; }

.display-2 {
  font-size: 2.3rem; }

.display-1 {
  font-size: 3rem; }

.category-header {
  padding: 1rem;
  color: #FFFFFF; }

.header {
  z-index: 1000;
  background: #181A1F;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.main-menu {
  font-size: 14px; }

.toggler-btn {
  position: absolute;
  background: #292b2c;
  color: white;
  top: 15px;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0.3rem 0.7rem 0.2rem 0.7rem;
  display: none; }

.dropdown-menu {
  font-size: inherit;
  display: none;
  background: #181A1F;
  border: none;
  border-radius: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 0;
  padding: 0;
  left: inherit;
  right: 0; }
  .dropdown-menu .nav-link {
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.sub-dropdown > .dropdown-menu {
  position: relative;
  padding-left: 0.5rem;
  font-size: 97%; }

.dropdown,
.sub-dropdown {
  position: relative; }

.nav-link {
  padding: 1.5em;
  color: rgba(255, 255, 255, 0.7) !important; }
  .nav-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5); }
  .nav-link:focus {
    color: #FFFFFF; }

.caret {
  padding: 0.3rem 0.5rem;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.fa-bars {
  font-size: 1.8rem; }

.brand {
  font-weight: 100;
  padding: 1rem 0; }
  .brand a {
    color: white; }
    .brand a:hover {
      text-decoration: none; }

#carousel,
#carousel-container,
.carousel-inner,
.carousel-item {
  height: 100%; }

#carousel-container img {
  min-width: 100%;
  object-fit: cover; }
#carousel-container .carousel-caption {
  padding: 0.7em;
  bottom: 10%;
  left: 5%;
  right: 5%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 0.3em black; }

.levels > .container {
  padding: 3rem 0;
  overflow: hidden; }
  .levels > .container > h2 {
    position: relative;
    top: -150px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .levels > .container > p {
    position: relative;
    left: -150%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

.levels-show > .container > h2 {
  top: 0; }
.levels-show > .container > p {
  left: 0; }

.card-deck {
  overflow: hidden; }

.level {
  opacity: 0;
  right: -100%;
  padding-top: 1rem;
  text-align: center;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out; }

.level-show {
  opacity: 1;
  right: 0; }

.beginner,
.intermediate,
.advance {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 100; }

.page {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .page img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.2em black; }

.page-title {
  padding: 1rem 0;
  margin: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.sidebar {
  padding: 5rem 0;
  margin-left: 0 !important;
  box-sizing: border-box; }

.sidebar-module {
  padding: 2rem; }
  .sidebar-module ul {
    font-size: 14px; }

.sidebar .card-header {
  border-radius: 0.5rem 0.5rem 0 0 !important; }

.searchbar {
  padding-top: 0.5rem !important; }

.form-control {
  margin-right: 0.2rem; }

footer {
  z-index: 1;
  background: #181A1F; }

.social-media {
  padding: 2em;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center; }
  .social-media .facebook,
  .social-media .twitter,
  .social-media .instagram {
    display: inline-block; }
    .social-media .facebook img,
    .social-media .twitter img,
    .social-media .instagram img {
      border-radius: 5px;
      margin-right: 0.5em; }
    .social-media .facebook img:hover,
    .social-media .twitter img:hover,
    .social-media .instagram img:hover {
      opacity: 0.8; }

.copyright {
  font-size: 13px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
  border-left: 1px solid rgba(255, 255, 255, 0.1); }

.footer-nav {
  font-size: 14px;
  padding: 1.5rem 0.3rem; }
  .footer-nav > li > a {
    color: white;
    opacity: 0.7; }
    .footer-nav > li > a:hover {
      opacity: 0.9; }
  .footer-nav > li li {
    font-size: 75%;
    list-style: disc;
    padding: 0.1rem; }
    .footer-nav > li li a {
      color: white;
      opacity: 0.5; }
      .footer-nav > li li a:hover {
        opacity: 0.8; }

.comments {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 3rem 0; }
  .comments li {
    list-style: none; }
  .comments a {
    color: #0275d8; }

.comment-body {
  border: 1px solid white;
  border-radius: 5px; }

.comment-meta {
  background-color: inherit; }

.comment-content {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .comment-content p {
    overflow: auto; }

.comment-respond {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px; }

textarea {
  width: 100%;
  resize: both;
  height: 100px; }

.comment-form input {
  width: 100%; }

.form-submit {
  width: 5rem; }

.blog .wp-caption {
  margin-bottom: 2em;
  width: 100% !important; }
  .blog .wp-caption img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.2em black; }
.blog .wp-caption-text {
  padding: 0 0.5em;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 1em !important; }

.blog-title {
  padding: 0.5em 0;
  margin: 1rem 0;
  padding-top: 2.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase; }

.blog-post {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.post-title {
  display: block;
  padding: 0.5rem 0; }

.single-title {
  margin-top: 1.5em; }

.blog-meta {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2); }

.wp-video {
  width: 100% !important;
  border-radius: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  box-shadow: 0 0 0.3em black;
  margin: 3em 0; }
  .wp-video .wp-video-shortcode {
    width: 100% !important; }
    .wp-video .wp-video-shortcode video {
      width: 100% !important;
      height: auto !important; }

iframe {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  box-shadow: 0 0 0.3em black; }

.Beginner-unit {
  background: #0275D8;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.Beginner-unit:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none; }

.Beginner-topic {
  background: #0275D8;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.Beginner-topic:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none; }

.Beginner-link {
  color: #0275D8; }

.Beginner-link:hover {
  color: #181A1F;
  opacity: 0.5; }

.Intermediate-unit {
  background: #439943;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.Intermediate-unit:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none; }

.Intermediate-topic {
  background: #439943;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.Intermediate-topic:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none; }

.Intermediate-link {
  color: #439943; }

.Intermediate-link:hover {
  color: #181A1F;
  opacity: 0.5; }

.Advance-unit {
  background: #D9534F;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.Advance-unit:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none; }

.Advance-topic {
  background: #D9534F;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.Advance-topic:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none; }

.Advance-link {
  color: #D9534F; }

.Advance-link:hover {
  color: #181A1F;
  opacity: 0.5; }

.post-gallery {
  text-align: center; }

.gallery {
  overflow: hidden;
  justify-content: center; }

.gallery-item {
  width: auto !important;
  padding: 3px; }

.attachment {
  margin-bottom: 2em;
  width: 100%; }
  .attachment img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.2em black; }

.contact-bg {
  background-color: #316dad;
  background-image: url("../assets/contact2.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: white; }

.contact-page-title {
  text-align: center;
  padding-top: 3rem; }

.contact-form {
  margin: 2em auto; }

.contact-field {
  background: rgba(10, 10, 10, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 0.7em;
  margin: 0.5rem 0;
  box-shadow: 0 0 0.3em black; }
  .contact-field:focus {
    background: rgba(0, 0, 0, 0.5);
    border-color: white;
    color: white; }

.contact-btn {
  margin: 0.3em 0;
  padding: 0.7em; }

.note-msg {
  display: none; }

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-bottom: 2px solid #3498db;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.Beginner-quiz-title {
  background: #0275D8;
  color: #FFFFFF;
  padding: 0.5em;
  margin-top: 1rem;
  border-radius: 0.3em 0.3em 0 0; }
  .Beginner-quiz-title a {
    color: #FFFFFF; }

.Advance-quiz-title {
  background: #D9534F;
  color: #FFFFFF;
  padding: 0.5em;
  margin-top: 1rem;
  border-radius: 0.3em 0.3em 0 0; }
  .Advance-quiz-title a {
    color: #FFFFFF; }

.Intermediate-quiz-title {
  background: #439943;
  color: #FFFFFF;
  padding: 0.5em;
  margin-top: 1rem;
  border-radius: 0.3em 0.3em 0 0; }
  .Intermediate-quiz-title a {
    color: #FFFFFF; }

.Beginner-quiz-btn {
  background: #0275D8;
  padding: 0.5em 1em;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em black; }
  .Beginner-quiz-btn:hover {
    opacity: 0.9; }

.Intermediate-quiz-btn {
  background: #439943;
  padding: 0.5em 1em;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em black; }
  .Intermediate-quiz-btn:hover {
    opacity: 0.9; }

.Advance-quiz-btn {
  background: #D9534F;
  padding: 0.5em 1em;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em black; }
  .Advance-quiz-btn:hover {
    opacity: 0.9; }

.quiz-widget {
  padding: 2rem; }
  .quiz-widget .take-quiz-btn {
    margin: 1rem 0;
    padding: 0.5rem 2rem; }

.quiz-tips {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-left: 1rem; }

.quiz-wrapper {
  padding: 1em;
  margin-top: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.question-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em 0;
  margin-bottom: 1em; }

.question-title {
  font-weight: bold;
  font-size: 1em; }

.quiz-image {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em black;
  margin: 1em 0; }

.quiz-video {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em black;
  margin: 1em 0; }

.quiz-audio {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em black;
  margin: 1em 0; }

@media screen and (max-width: 767px) {
  .toggler-btn {
    display: block; }

  .main-menu {
    padding: 0;
    display: none; }

  .nav,
  .nav-item,
  .nav-link {
    display: block;
    width: 100%;
    padding: 0; }

  .nav-link {
    padding: 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  .dropdown-menu {
    text-align: left;
    background: inherit;
    overflow: hidden;
    width: 100%;
    position: relative; }
    .dropdown-menu .nav-link {
      padding: 0.3rem; }

  .dropdown-menu,
  .sub-dropdown > .dropdown-menu {
    padding-left: 3%; }

  .sidebar-module {
    padding: 0;
    margin-bottom: 2rem; }

  .quiz-widget {
    padding: 0;
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center; }
    .quiz-widget .take-quiz-btn {
      width: 100%; }

  .quiz-tips {
    border-left: none;
    text-align: center; } }
@media screen and (max-width: 575px) {
  .carousel-caption h1 {
    font-size: 1.8rem; }

  .copyright {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center; }

  .footer-nav {
    text-align: center; }
    .footer-nav li li {
      list-style: none; }

  .social-media {
    text-align: center; } }

/*# sourceMappingURL=front-style.css.map */
