footer
	background: $themeColor
	border-top: 1px solid $lightborder
.copyright
	font-size: 13px
	color: rgba(255,255,255,0.7)
	align-items: center
	justify-content: center
	padding: 0.5rem
	border-left: 1px solid rgba(255,255,255,0.1)

.footer-nav
	font-size: 14px
	padding: 1.5rem 0.3rem
	

	>li


		>a
			color: rgba(255,255,255,0.6)
			&:hover
				color: rgba(255,255,255,0.8)

		li
			font-size: 75%
			list-style: disc
			padding: 0.1rem
			a
				color: rgba(255,255,255,0.4)
				&:hover
					color: rgba(255,255,255,0.6)




