
.intermediate-categories
	margin-top: 1rem


.intermediate-cards-header
	padding: 0


.intermediate-sub-cat
	border: 1px solid rgba(0,0,0,0.1)
	text-align: center
	padding: 1rem
	color: $green

.intermediate-sub-cat:hover
	background: $green
	color: white
	text-decoration: none