// Small Screen
@media screen and (max-width: 768px)
	
	.nav-item
		padding-left: 0

	.sidebar
		padding: 2rem




// Extra Small Screen
@media screen and (max-width: 544px)
	.carousel-caption
		h1
			font-size: 2rem

