
// full height
html,
body
	height: 100%
	background: $themeColor


hr
	box-shadow: 0 1px 0 white

ul
	list-style: none
	padding-left: 0.5rem

.container-fluid
	background: $lightFont



.display-4
	font-size: 1.2rem
.display-3
	font-size: 1.7rem
.display-2
	font-size: 2.3rem
.display-1
	font-size: 3rem


.category-header
	padding: 1rem
	color: $lightFont
