
.wrapper
  padding: 2em
  width: 100%

hr
  border: 1px solid $darkborder
  box-shadow: 0 1px 0 $lightborder


.header
  background: $darkBG
  padding: 0.5em
  margin-top: 1em
  overflow: hidden
  width: 100%
  // border-radius: 10px 10px 0 0
  color: $lightFont
  box-sizing: border-box