.quizes_table
  border: 1px solid white
  box-shadow: 0 0 0.1em black
  border-radius: 10px 10px 0 0
  overflow: hidden
  font-size: 80%
  
  


.data_tr:nth-child(even)
  background: white
  border: 1px solid $darkborder

.data_tr:nth-child(odd)
  background: #ddd
  color: $darkFont
  border: 1px solid $darkborder

.data_td
  vertical-align: top
  border: 1px solid $darkborder
  padding: 0.5em
  ul
    width: 100%
    padding-left: 1em
    margin: 0
    box-sizing: border-box
    li
      margin: 0
      list-style-type: upper-alpha


.header_tr
  background: $darkBG
  color: $lightFont  
  th
    padding: 0.5em
    border: 1px solid $lightFont