.blog
	.wp-caption
		margin-bottom: 2em
		width: 100% !important
		img
			max-width: 100%
			height: auto
			border-radius: 0.5em
			border: 1px solid $lightborder
			box-shadow: 0 0 0.2em black
	.wp-caption-text
		padding: 0 0.5em
		color: rgba(0,0,0,0.7)
		margin: 0 1em !important

.blog-title
	padding: 0.5em 0
	margin: 1rem 0
	padding-top: 2.2rem
	border-bottom: 1px solid $darkborder
	text-transform: uppercase

.blog-post
	padding: 1rem 0
	border-bottom: 1px solid $darkborder

	
.post-title
	display: block
	padding: 0.5rem 0

.single-title
	margin-top: 1.5em

.blog-meta
	border-bottom: 1px dashed $darkborder


.wp-video
	width: 100% !important
	border-radius: 0.5em
	border: 1px solid $lightborder
	overflow: hidden
	box-shadow: 0 0 0.3em black
	margin: 3em 0
	.wp-video-shortcode
		width: 100% !important
		video
			width: 100% !important
			height: auto !important

iframe
	width: 100%
	border: 1px solid $lightborder
	overflow: hidden
	box-shadow: 0 0 0.3em black

