.post-gallery
	text-align: center

.gallery
	overflow: hidden
	justify-content: center

.gallery-item
	width: auto !important
	padding: 3px

.attachment
	margin-bottom: 2em
	img
		width: 100%
		height: auto
		

